{% extends 'base.html' %}

{% block content %}   

 <div class="row mb-2">
    {% if blog %}
    {% for i in blog %}
    <div class="col-md-6">
      <div class="card border-0" >
        <div class="card-body">
          <h3> <a class="text-dark" href="{% url 'blogs' i.slug%}">{{i.title}}</a> </h3>
          <small class="mb-1 text-muted">{{i.created_at | timesince}} ago| {{i.author}}</small>
          <p class="card-text">{{i.short_description}}</p>
        </div>
      </div>
    </div>
   
{% endfor %}
{% else  %}
<p>No Post Found</p>
{% endif %}
    


{% endblock %}